<section>
  <form class="gap-y-3 grid grid-cols-3" [formGroup]="formGarage" (ngSubmit)="onSubmit()">
    <div>
      <p-floatlabel variant="on">
        <input
          formControlName="code"
          pInputText
          id="code"
          autocomplete="on"
          [invalid]="isFieldInvalid('code')"
        />
        <label for="code">Codigo</label>
      </p-floatlabel>
      @if(getFieldError('code')) {
        <div class="p-error">
          <small>{{ getFieldError('code') }}</small>
        </div>
      }
    </div>
    <div>
      <p-floatlabel variant="on">
        <input
          formControlName="name"
          pInputText
          id="name"
          autocomplete="on"
          [invalid]="isFieldInvalid('name')"
        />
        <label for="name">Nombre</label>
      </p-floatlabel>
      @if(getFieldError('name')) {
        <div class="p-error">
          <small>{{ getFieldError('name') }}</small>
        </div>
      }
    </div>
    <div class="flex items-center">
      <p-toggleswitch formControlName="status" />
    </div>
    <p-button label="Enviar" severity="info" type="submit" [disabled]="!formGarage.valid" />
  </form>
</section>