<section>
  <form class="gap-y-3 grid grid-cols-3" [formGroup]="formTool" (ngSubmit)="onSubmit()">
    <!-- Código -->
    <div>
      <p-floatlabel variant="on">
        <input
          formControlName="code"
          pInputText
          id="code"
          autocomplete="on"
          [invalid]="isFieldInvalid('code')"
        />
        <label for="code">Código</label>
      </p-floatlabel>
      @if(getFieldError('code')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('code') }}</small>
        </div>
      }
    </div>

    <!-- Nombre -->
    <div>
      <p-floatlabel variant="on">
        <input
          formControlName="name"
          pInputText
          id="name"
          autocomplete="on"
          [invalid]="isFieldInvalid('name')"
        />
        <label for="name">Nombre</label>
      </p-floatlabel>
      @if(getFieldError('name')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('name') }}</small>
        </div>
      }
    </div>

    <!-- Categoría (Selector) -->
    <div>
      <p-floatlabel variant="on">
        <p-select
          formControlName="categoryId"
          [options]="categories"
          optionLabel="name"
          optionValue="uuid"
          styleClass="w-full"
					[invalid]="isFieldInvalid('categoryId')"
        />
        <label for="categoryId">Categoría</label>
      </p-floatlabel>
      @if(getFieldError('categoryId')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('categoryId') }}</small>
        </div>
      }
    </div>

    <!-- Taller/Garage (Selector) -->
    <div>
      <p-floatlabel variant="on">
        <p-select
          formControlName="garageId"
          [options]="garages"
          optionLabel="name"
          optionValue="uuid"
          styleClass="w-full"
					[invalid]="isFieldInvalid('garageId')"
	        />
        <label for="garageId">Taller</label>
      </p-floatlabel>
      @if(getFieldError('garageId')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('garageId') }}</small>
        </div>
      }
    </div>

    <!-- Status (Selector) -->
    <div>
      <p-floatlabel variant="on">
        <p-select
          formControlName="status"
          [options]="statusOptions"
          optionLabel="label"
          optionValue="value"
          styleClass="w-full"
					[invalid]="isFieldInvalid('status')"
				/>
        <label for="status">Estatus</label>
      </p-floatlabel>
      @if(getFieldError('status')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('status') }}</small>
        </div>
      }
    </div>

    <!-- Imagen -->
    <div>
      <p-floatlabel variant="on">
        <input
          formControlName="image"
          pInputText
          id="image"
          autocomplete="on"
          [invalid]="isFieldInvalid('image')"
        />
        <label for="image">URL Imagen</label>
      </p-floatlabel>
      @if(getFieldError('image')) {
        <div class="p-error">
          <small class="text-red-500">{{ getFieldError('image') }}</small>
        </div>
      }
    </div>

    <!-- Botón Submit -->
    <div class="col-span-3 flex gap-2">
      <p-button label="Guardar" severity="info" type="submit" />
      <p-button label="Cancelar" severity="secondary" type="button" (onClick)="onReset()" />
    </div>
  </form>
</section>