<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-full">
	<div class="flex flex-col gap-2 w-full">
		<label
			for="name"
			class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
		>Nombre</label
		>
		<input
			pInputText
			id="name"
			type="text"
			placeholder="Ingrese su nombre"
			formControlName="name"
			class="w-full px-3 py-2 shadow-sm rounded-lg"
			[class.ng-invalid]="getFieldError('name')"
		/>
		@if(getFieldError('name')) {
			<small class="text-red-500">{{ getFieldError('name') }}</small>
		}
	</div>

	<div class="flex flex-col gap-2 w-full">
		<label
			for="lastname"
			class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
		>Apellido</label
		>
		<input
			pInputText
			id="lastname"
			type="text"
			placeholder="Ingrese su apellido"
			formControlName="lastname"
			class="w-full px-3 py-2 shadow-sm rounded-lg"
			[class.ng-invalid]="getFieldError('lastname')"
		/>
		@if(getFieldError('lastname')) {
			<small class="text-red-500">{{ getFieldError('lastname') }}</small>
		}
	</div>

	<div class="flex flex-col gap-2 w-full">
		<label
			for="email"
			class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
		>Email Address</label
		>
		<input
			pInputText
			id="email"
			type="email"
			placeholder="Email address"
			formControlName="email"
			class="w-full px-3 py-2 shadow-sm rounded-lg"
			[class.ng-invalid]="getFieldError('email')"
		/>
		@if(getFieldError('email')) {
			<small class="text-red-500">{{ getFieldError('email') }}</small>
		}
	</div>

	<div class="flex flex-col gap-2 w-full">
		<label
			for="password"
			class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
		>Password</label
		>
		<input
			pInputText
			id="password"
			type="password"
			placeholder="Password"
			formControlName="password"
			class="w-full px-3 py-2 shadow-sm rounded-lg"
			[class.ng-invalid]="getFieldError('password')"
		/>
		@if(getFieldError('password')) {
			<small class="text-red-500">{{ getFieldError('password') }}</small>
		}
	</div>

	<button
		pButton
		type="submit"
		class="w-full py-2 rounded-lg flex justify-center items-center gap-2"
		[disabled]="registerForm.invalid"
	>
		<i pButtonIcon class="pi pi-user-plus text-base! leading-normal!"></i>
		<span pButtonLabel>Create Account</span>
	</button>
</form>
