<section class="border border-gray-200 rounded-md">
	<p-table [value]="categories" class="!rounded-md !bg-red-500" showGridlines x>
		<ng-template #header>
			<tr>
				<th>Identificador</th>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Estatus</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template #body let-categorie>
			<tr>
				<td>{{ categorie.id }}</td>
				<td>
					<p-tag severity="info" [value]="categorie.code" />
				</td>
				<td>{{ categorie.name }}</td>
				<td>
					<p-toggleswitch [disabled]="true" [(ngModel)]="categorie.status" [trueValue]="true" [falseValue]="false" />
				</td>
				<td>
					<p-button icon="pi pi-pen-to-square" [rounded]="true" />
				</td>
			</tr>
		</ng-template>
	</p-table>
</section>
