<section class="border border-gray-200 rounded-md">
	<p-table [value]="garages" class="!rounded-md !bg-red-500" showGruuidlines x>
		<ng-template #header>
			<tr>
				<th>Identificador</th>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Estatus</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template #body let-garage>
			<tr>
				<td>{{ garage.uuid }}</td>
				<td>
					<p-tag severity="info" [value]="garage.code" />
				</td>
				<td>{{ garage.name }}</td>
				<td>
					<p-toggleswitch [disabled]="true" [(ngModel)]="garage.status" [trueValue]="true" [falseValue]="false" />
				</td>
				<td>
					<p-button icon="pi pi-pen-to-square" [rounded]="true" (click)="fetchGarageByUuid(garage.uuid)" />
				</td>
			</tr>
		</ng-template>
	</p-table>
</section>
